{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Edit Subject | Subject Code: {{ subject.sub_code }}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Subject</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_subject_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                    <label>Subject code </label>
                    <input type="text" class="form-control" name="subject_code" placeholder="Enter Subject code" value="{{subject.sub_code}}">
                  </div>
                  <div class="form-group">
                    <label>Subject Name </label>
                    <input type="text" class="form-control" name="subject_name" placeholder="Enter Subject Name"value="{{subject.sub_name}}">
                      <input type="hidden" name="subjects_id" value="{{ subject.id }}">
                  </div>


                   <div class="form-group">
                    <label>Course </label>
                    <select class="form-control" name="course">
                        {% for cour in course %}
                          <option value="{{ cour.id }}" {% if cour.id == course.cour_id.id %} selected {% endif %}>{{ cour.c_name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-group">
                    <label>Faculty Name</label>
                    <select class="form-control" name="faculty">
                        {% for facultys in faculty %}
                          <option value="{{ facultys.id }}" {% if facultys.id == faculty.facultys_id.id %} selected {%endif %}>{{ facultys.first_name }} {{ facultys.last_name }}</option>
                        {% endfor %}
                    </select>
                    </div>

                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Edit Subject</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

